<!--------------------SUBMITTED BY--------------------
----------------------NEIL JONES----------------------
----------------------1001371689------------------------>

<html ng-app="app">
<head>
    <link href="stylesheets/style.css" rel="stylesheet" />
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" />
    <link href="stylesheets/font-awesome.css" rel="stylesheet" />

</head>
<body ng-controller="Controller" ng-init="init()" style="max-width:99.5%;padding:10px">
    <div ng-show="client">
        <div class="containter">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>Assignment 2</h1>
                    <p class="lead">Submitted by: Neil Jones (1001371689)</p>
                    <br />
                </div>
            </div>

            <!--The left pannel of the UI-->
            <div class="row">
                <div class="col-sm-4">
                    <div class="card">
                        <h4 class="card-header">
                            Ring Election Algorithm
                            <span class="small">
                                <input type="checkbox" ng-model="multiElection" /> Multi Election
                            </span>
                        </h4>
                        <div class="card-block">
                            <p>Purpose of this assignment is to show the selection of a new process using the <span class="lead">Ring Election Algorithm</span></p>
                            <div>
                                <p>First we need to start the processes. Click <a class="processes"><span class="lead" style="color:blue">here</span> </a> to launch the 6 processes or start the processes individually by clicking on it</p>
                                <p>(if this page is refreshed, all the processes need to be restarted)</p>
                                <p class="small">Make sure pop ups are allowed on this page</p>
                            </div>
                            <p>The <span style="color:#e74c3c">Red border</span> shows the process is offline</p>
                            <p>The <span style="color:#2ecc71">Green border</span> shows the process is online</p>
                            <p>The <span style="color:#3498db">Blue border</span> shows the process is the leader</p>
                            <p>The <span style="color:#e67e22">Orange border</span> shows the current process</p>
                            <hr />
                            <lead>Also a process can be manually crashed/restarted by clicking on it. A process can be manually crashed by closing the tab associated with it</lead>
                        </div>
                    </div>
                </div> 
                <!--The Ring UI-->
                <div class="col-sm-4">
                    <ul class='circle-container'>
                        <li ng-repeat="d in data">
                            <div ng-show="d.online">
                                <div ng-show="d.current">
                                    <img src="images/{{d.process}}.jpg" class="current" ng-click="crash(d.process)" />
                                </div>
                                <div ng-hide="d.current">
                                    <div ng-show="d.isLeader">
                                        <img src="images/{{d.process}}.jpg" class="leader" ng-click="crash(d.process)" />
                                    </div>
                                    <div ng-hide="d.isLeader">
                                        <img src="images/{{d.process}}.jpg" class="online" ng-click="crash(d.process)" />
                                    </div>
                                </div>
                            </div>
                            <div ng-hide="d.online">
                                <img src="images/{{d.process}}.jpg" class="offline" ng-click="restart(d.process)" />
                            </div>
                        </li>
                    </ul>
                </div>

                <!--The Log UI-->
                <div class="col-sm-4">
                    <div class="card">
                        <h3 class="card-header">Log - <small>The latest log is shown on top</small> </h3>
                        <div class="card-block" style="height:520px; overflow-y: scroll;">
                            <div ng-show="counterMessage">
                                <h4>Simulation timer: {{counter}} s</h4>
                                <hr />
                            </div>
                            <div ng-hide="startMessage">
                                <div ng-repeat="m in logMessage">
                                    <p ng-class="m.class">{{m.message}}</p>
                                </div>
                            </div>
                            <div ng-show="startMessage">
                                <p class="text-muted">The log of the working will show here once a process has connected</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="client">
        <div class="middle">
            <h1>This tab was created to start process {{processNo}}</h1>
            <h2>Go to the tab with address http://localhost:3000 to view the simulation</h2>
        </div>
    </div>


    <script src="javascripts/angular.js"></script>
    <script src="javascripts/jquery-3.1.1.slim.min.js"></script>
    <script src="javascripts/tether.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/socket.io-1.0.0.js"></script>
    <script src="javascripts/app.js" type="text/javascript"></script>
    <script>
        $('a.processes').click(function (e) {
            e.preventDefault();
            window.open('http://localhost:3001/');
            window.open('http://localhost:3002/');
            window.open('http://localhost:3003/');
            window.open('http://localhost:3004/');
            window.open('http://localhost:3005/');
            window.open('http://localhost:3006/');
            window.open('http://localhost:3007/');
            window.open('http://localhost:3008/');
        });

    </script>
</body>
</html>